html{
  height: 100%;
  margin: 0;
}

body{
  font-size: 20px;
  font-family: "HelveticaNeue-Light",
  "Helvetica Neue Light","Helvetica Neue","Helvetica","Arial","Lucida Grande",sans-serif;
  background: silver;
  height: 100%;
  padding: 0px;
  background-color: #B5C689;
  color: #2E2E2E;
}

#topColumns{
  padding-left: 0px;
  padding-right: 0px;
}

.navbar{
  margin: 0px;
  border-radius: 0px;
  min-height: 30px;
}

#topNavBar{
  background-color: #2E2E2E;
  border: none;
  color: #FFFFFF;
  font-size: 16px;
}

#topNavBar p{
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 20px;
}

#bottomNavBar{
  background-color: #CD594A;
  border: none;
  min-height: 20px;
}

.well{
  border-radius: 0px;
  color: #CD594A;
}
#wellTitle{
  padding-left: 0px;
}

#doctorSearch{
  margin-left: 0px;
  margin-top: 10px;
}

#location{
  padding-left: 8px;
}

h1{
  padding-left: 20px;
}

h2{
  padding-left: 20px;
  padding-right: 20px;
}

.whiteText{
  color: #FFFFFF;
  padding-left: 20px;
}

hr{
  display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #2E2E2E;
    margin: 1em 0;
    padding: 0;
}

td{
  color: #CD594A;
}

.jumbotron {
    margin-bottom: 0px;
    background-image: url(/img/appleTreeOne.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #CD594A;
}

ul{
  style: none;
}

li{
  style: none;
}
